.header{
    .header-left{
        gap: 76px;
    }
    &-search-input{
        width: 530px;
        padding: 10px 22px;
        &:active{
            box-shadow: 0 0 0 3px rgba(5, 145, 255, 0.1),
            0 0 0 2px rgba(5, 145, 255, 0.1);
        }
        .ant-input-clear-icon{
            font-size: 17px;
        }
        @include xl{
            max-width: 600px;
        }
        @include lg{
           width: 450px;
        }
        @include sm {
            width: 100%;
        }

    }
    button{
        line-height: normal;
        padding: 10px 24px;
        border-radius: 8px;
       
      }
      .login-btn{
        background: transparent;
        color: var(--black-green);
        font-weight: 600;
    }   
    .sign-btn{
        color: #fff;
        background: #112211;
    }
}